<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
2 Title : Data Science Tools and Ecosystem

3 Introduction : In this notebook, Data Science Tools And Ecosystem are summarized.

4 Some of popular languages that data scientists use are ; pyhton , R , Java

5 Some of the commonly used libraries used by Data scientists include ;  Pandas, Numpy, Keras

6 Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

In [ ]:
7

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
8

In [ ]:
# This a simple arithmetic expression to multiply then add integers
result = (3*4) + 5
result

In [ ]:
9

In [ ]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

In [ ]:
10

**Objectives:**

- Understand the basics of Jupyter Notebook
- Learn how to execute Python code in cells
- List popular languages for Data Science

In [ ]:
11

## Author
Tatsuki Ishizaki